footer
  .wrap-footer.wrap
    h3
      strong Get exclusive content
      |  delivered right to your inbox
      
    .searchbar
      .input-group
        input.form-control(type='text', placeholder='Email')
        span.input-group-btn
          button.btn.btn-default(type='button') Go
