header
  .wrap-header.wrap
    .logo
      h2 WEBPT
    .menuNav
      ul
        li: a(href="") Featured
        li: a(href="") Why Webpt
        li: a(href="") Pricing
        li: a(href="") About
        li: a(href="") Blog
    a.button-demo(href="") Free Demo    
    
