section.primary
  .wrap-primary.wrap
    .left-side
      img(src="assets/img/icd.png", alt="")
      .info
        p Apr 1, 2014
        p webinar
      .content
        h3 Preparing for ICD-10
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a.view(href="") View Webinar 
    .right-side
      h2 Featured Articles
      ul
        li The Future is Bright for OT Jobs [Infographic]
        li ICD-10: Fact or Fiction
        li Translating ICD-9 to ICD-10
        li Breaking News: Congress Delays ICD-10 Implementation Until 2015
      a.view(href="") Read The Blog 
        i.fa.fa-play-circle-o(aria-hidden='true')
